doctype html
html
  head
    meta(charset='utf-8')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
    title Главная
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='style.css', rel='stylesheet')
  body
    .wrapper
      header
        img(src='images/6.jpg', width='1000', height='150', align='center')
      // .header
      nav.navigation(align='center')
        li
          a(href='https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82_%D0%B2%D0%B5%D1%89%D0%B5%D0%B9')
            u Wikipedia
        li
          a(href='https://www.youtube.com/')
            u YouTube
        li
          a(href='http://www.facebook.com')
            u Facebook
        li
          a(href='http://www.google.com')
            u Google
        li
          a(href='http://www.instagram.com')
            u Instagram
      .middle
        .container
          main.content
            h1(align='center') IoT в повседневной жизни
            .image(align='center')
              img(src='http://www.robogeek.ru/files/blogs/0007/3506/attaches/samsung-ces-2.JPG', alt='auto')
            p
              | Компания Samsung Electronics поделилась своим видением и дальнейшими планами относительно концепции Интернет вещей на выставке потребительской электроники CES 2018. На пресс-конференции Samsung продемонстрировала уникальную возможность использования подключенных устройств Samsung дома, на работе и в пути.
            p
              | Компания планирует подключить все устройства к экосистеме IoT уже к 2020 году. Кроме того, компания объявила о намерении в дальнейшем подключать устройства к IoT с помощью открытой, согласованной и интеллектуальной платформы.
            p
              | «Мы в Samsung считаем, что использование IoT-продуктов должно быть таким же простым, как нажатие кнопки. Анонсированные на CES 2018 продукты и технологии сделают концепцию IoT еще проще и понятней, — говорит Ким Хен Сук, глава подразделений по производству потребительской электроники Samsung и Samsung Research. — Мы стремимся ускорить повсеместное внедрение IoT и обеспечить поддержку Интернета вещей на всех устройствах Samsung уже к 2020 году».
            p
              | Новая продукция и услуги, представленные на CES 2018, наглядно демонстрируют достижения компании в области применения технологий IoT.
            p
              li
                | Дом: Начиная с этого года, платформа Samsung Smart TV объединит разные устройства и обеспечит легкую авторизацию пользователей. Новые холодильники Family Hub получили широкий ряд интеллектуальных функций, таких как синхронизация процессов хранения и приготовления пищи, обмен информацией между членами семьи и организация совместных дел. Телевизоры Samsung Smart TV и холодильники Family Hub поддерживают систему голосового управления Bixby. Интеллектуальный помощник Bixby расширяет доступ телевизоров к приложениям, позволяет легко находить фильмы по жанрам и именам актеров, а также отображать личные фотографии. Холодильники Family Hub с помощью Bixby смогут распознавать индивидуальные голоса членов семьи, предоставляя каждому из них персонализированную информацию, подобранную на основе его личных предпочтений, такую как новости, сводки погоды и запланированные в календаре события. Samsung Smart TV и холодильники Family Hub будут подключены к облачному сервису SmartThings Cloud, выполняющему роль интеллектуальной панели управления устройствами.
            p
              li
                | Офис: Samsung кардинально меняет представление о традиционном офисе за счет внедрения гибких решений, которые отвечают любым потребностям современной бизнес-аудитории. Уникальный ноутбук с сенсорным экраном Samsung Notebook 9 Pen предназначен для людей, работающих не только из офиса. 55-дюймовый интерактивный цифровой флипчарт Samsung Flip упрощает командную работу во время совещаний, за счет возможности свободного подключения устройств участников группы к электронной доске. Оперативно передавать информацию на флипчарт и выводить ее на экран могут сразу до четырех участников группы, причем работать с сенсорным дисплеем можно при помощи пальцев или двусторонних ручек.
            p
              li
                | Мобильность: Samsung содействует развитию мобильных сетей 5G, внедрение которых ознаменует новый этап развития подключенного мира. Samsung сотрудничает с операторами беспроводной связи и поставщиками услуг широкополосного доступа с целью провести пилотный запуск 5G-сетей, которые передают данные в 100 раз быстрее, чем 4G LTE. Подключение сетей 5G способствует более комфортному процессу вождения. Создание цифрового салона Samsung Digital Cockpit демонстрирует, как автомобили будучи подключенными к другим устройствам, станут частью экосистемы IoT. Новый дизайн приборной панели, наряду с приложением Bixby, позволит водителям легко управлять автомобилем, а также подключенными к нему домашними устройствами с помощью голосовых, сенсорных, жестовых и контекстных команд. Пассажиры смогут наслаждаться в пути онлайн фильмами в высоком качестве и без задержек. Первый в отрасли блок управления Telematics Control Unit (TCU) с поддержкой 5G сможет быстрее загружать и передавать информацию, а также обеспечит связь автомобиля со всеми устройствами, создавая тем самым основу для более комфортного автономного управления автомобилем.
            p.facebook-frame
              iframe(src='http://www.robogeek.ru/files/blogs/0007/3506/_cache/fit650x800-samsungces.jpg', ;='', width='700"', height='664', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          // .content
        // .container
        aside.right-sidebar
          h3 Место для Вашей рекламы
          h4 Сопутствующие статьи:
          p
            a(href='https://sputnik.by/technology/20170117/1027002393/kak-internet-veshchej-smozhet-izmenit-nashu-zhizn.html') Зачем нам "интернет вещей" – облегчить жизнь или самоустраниться из нее?
          p
            a(href='https://hi-tech.ua/press_releases/samsung-uproshhaet-povsednevnuyu-zhizn-s-pomoshhyu-iot/') Samsung упрощает повседневную жизнь с помощью IoT
          // .right-sidebar
      // .middle
      footer.footer(align='center')
        p Copyright © 2018. All Rights Reserved
      // .footer
    // .wrapper